{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact.name }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ contact.content }}</td>
            </tr>
        </tbody>
    </table>
    <a href="mailto:{{ contact.email }}">Répondre</a>
    <br/>

    <a href="{{ path('contact_admin_index') }}">Retour à la liste</a>

    {{ include('contact_admin/_delete_form.html.twig') }}
{% endblock %}
