{% extends 'base.html.twig' %}

{% block title %}Nos offres{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4 title">Nos offres</h1>
        <div class='container'>
            <div class="row">
                {% for offre in offres %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="card mb-5" style="width: 100%; max-height: 30rem; overflow:hidden;">
                            {% if offre.image %}
                                <img src="{{ offre.image }}" style="max-height:220px;" class="card-img-top" alt="">
                            {% else %}
                                <img src="https://via.placeholder.com/348x220&text= " style="max-height:220px;" class="card-img-top" alt="">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ offre.name }}</h5>
                                <p class="card-text" style="max-height: 5rem; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{ offre.description }}</p>
                                <p class="card-text" style="max-height: 5rem; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Prix : {{ offre.price }}€</p>
                                <a href="{{ path('offer', {'id': offre.id}) }}" class="btn btn-primary">Voir plus</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock %}