<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-4" href="/">Entre Haltères</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('articles') }}">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('offers') }}">Offres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Programmes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Cours</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
    {% if is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu {% if is_granted('ROLE_ADMIN') %} administrateur {% else %} éditeur {% endif %}
        </a>
        <div class="dropdown-menu" style="right: 0; float: right;" aria-labelledby="navbarDropdown">
          {% if is_granted('ROLE_ADMIN') %}
            <a class="dropdown-item" href="{{ path('user_index') }}">Utilisateurs</a>
            <a class="dropdown-item" href="{{ path('offer_index') }}">Offres</a>
            <a class="dropdown-item" href="{{ path('contact_admin_index') }}">Contacts</a>
            <a class="dropdown-item" href="{{ path('newsletter') }}">Newsletter</a>
          {% endif %}
          <a class="dropdown-item" href="{{ path('article_index') }}">Articles</a>
          <a class="dropdown-item" href="{{ path('category_index') }}">Rubriques</a>
        </div>
      </li>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profil
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="right: 0; float: right;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('me') }}">Mes informations</a>
          <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
      </li>
    {% endif %}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
      </li>
    {% endif %}
    </ul>
  </div>
</nav>