{% extends 'base.html.twig' %}

{% block title %}{{ article.name }}{% endblock %}

{% block body %}

<div class="container">
    <div class="text-center">
    <h1>{{ article.name }}</h1>
    {% if article.image %}
        <img class="mt-2" style="max-width:1000px;" src="{{ asset(article.image) }}">
    {% endif %}
    <p class="mt-4">{{ article.content }}</p>
    <p class="text-right"><small>{{ article.updatedAt|date("d/m/Y") }} - {% if article.articleEditor and article.articleEditor %}{{ article.articleEditor.firstName }} {{ article.articleEditor.lastName }} {% else %} deleted user {% endif %}</small></p>
    </div>
</div>

{% endblock %}
